.crystals {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.crystal {
  border: 5px solid rgb(17, 1, 32);
  height: 200px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s, transform 2s;
}

.crystal:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s, transform 2s;
  transform: translate(5px,80px);
}

img{
  width: 50px;
}